/* .html-error500,
.body-error500,
#root-error500 {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: blue;
}

.body-error500 {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu,
    roboto, noto, segoe ui, arial, sans-serif;
  background: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
} */

.html-error500 {
  display: block;
  position: absolute;
  width: 100%;
  height: auto;
}

#root-error500 {
  overflow: hidden;
}

.card1,
.card2,
.card3,
.card4,
.card4b {
  position: absolute;
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
}

/* .card1 {
  min-width: 60ch;
  min-height: 60ch;
  width: 45vw;
  height: 45vw;
  max-width: 100ch;
  max-height: 100ch;
  background-image: url(https://i.imgur.com/RlaIySN.jpg);
} */

/* .wrapper-error500 {
  background: url(https://i.imgur.com/RlaIySN.jpg) !important;
  background-repeat: no-repeat !important;
  width: 100%;
} */

.wrapper-error500 {
width: 100%;
}

.hero-error500 {
  background: none !important;
}

.content-error500 {
  width: 36%;
  text-align: center;
  color: 'rgba(0, 0, 0, 0.5)'
}

div#suggestions {
  display: inline-grid;
}

.text-error500 {
  color: rgba(0, 0, 0, 0.5);
  margin: 10px 0 10px;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.6em;
  text-transform: uppercase;
}

.text-p-error500 {
  color: rgba(0, 0, 0, 0.5) !important;
}

.card2 {
  width: 25ch;
  height: 25ch;
  background-image: url(https://i.imgur.com/v8Tv4z2.png);
  background-size: 68%;
}

.card3 {
  opacity: 0.9;
  width: 25ch;
  height: 25ch;
  background-image: url(https://i.imgur.com/qoIQurr.png);
  margin-top: 20vh;
  background-size: 102%;
  z-index: 50;
}

.card3b {
  opacity: 0.9;
  width: 25ch;
  height: 25ch;
  background-image: url(https://i.imgur.com/mf1tARC.png);
  margin-top: 178px;
  margin-left: -23vw;
  z-index: 10;
  background-repeat: no-repeat;
}

.card4 {
  width: 25ch;
  height: 25ch;
  background-image: url(https://i.imgur.com/583zKGO.png);
  background-size: 69%;
}

.card4b {
  width: 25ch;
  height: 25ch;
  background-image: url(https://i.imgur.com/ugsH5Ig.png);
  background-size: 108%;
}
.container-error500 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 51vh;
  /* position: absolute; */
  left: 23%;
}
div#suggestions {
  margin-left: 8.2vw !important;
}
div#suggestions > a {
  font-size: 10px !important;
}

@media (max-width: 1100px) {
  .hero-error500 {
    padding: 0 !important;
  }
  .card2 {
    background-size: 78%;
    margin-top: 87px;
  }
  .card3 {
    margin-top: 17vh;
    font-size: 19px;
    opacity: 1;
  }
  .card3b {
    margin-top: 478px;
    margin-left: -5vw;
    background-size: 50%;
    background-repeat: no-repeat;
  }
  .card4 {
    background-size: 65%;
  }
  .content-error500 {
    margin-top: -109px;
    width: 59%;
  }
  div#suggestions {
    margin-left: 8vw !important;
    font-size: 8px;
  }
  div#suggestions > a {
    font-size: 11px !important;
  }
  hr {
    margin-top: -1rem;
    display: none;
  }
  .img-error500 {
    margin-left: 0 !important;
  }
}
