.contact-layout {
  background-color: transparent !important;
  letter-spacing: 2px !important;
  border: 1px solid purple !important;
  box-shadow: 1px 1px 17px black !important;
  border-radius: 5px !important;
  padding: 45px;
}

.contact-layout a{
  color: #fff !important;
  text-decoration: none;
}

.col-md-6 .maps {
  -ms-flex: 0 0 50%;
  flex: 0 0 50% !important;
  max-width: 50%;
  margin-bottom: 35px;
}
iframe {
  box-shadow: 1px 1px 15px, inset 0px 0px 48px grey;
  border: 1px solid whitesmoke;
}
.frame-contact {
  box-shadow: none;
  border: none;
}
.contact-link {
  color: white !important;
  text-decoration: none;
}

.hidden {
  display: none;

}

.sending-mail {
  max-height: 50px;
}

.customModal {
  background: none !important;
  width: 100%;
  box-shadow: none !important;
  z-index: 500 !important;
}
.customOverlay {
  z-index: 50 !important;
}

.subtitle-contact {
  font-size: 14px;
  margin-left: 8px;
  /* text-shadow: 1px 1px 1px black; */
  font-weight: bold;
}

#secteur {
  position: relative;
    z-index: 150;
}

@media (max-width: 575.98px) {

  .contact-layout{
    margin-bottom: 15px;
  }
  .contact-layout .maps iframe{
    width: 100%;
    height: 450px;
    padding-bottom: 68px;
  }
 }



@media (min-width: 576px) {

   .contact-layout{margin-bottom: 15px;}

   .contact-layout .maps iframe{
     width: 100%;
     height: 450px;
   }
 }

@media (min-width: 768px) {

  .contact-layout{margin-bottom: 15px;}

  .contact-layout .maps iframe{
    width: 100%;
    height: 450px;
  }

  .maps {
    margin-bottom: 35px;
  }
  .title-contact {
    font-size: 14px !important;
  }
}

@media (min-width: 992px) {
  .contact-layout{margin-bottom: 15px;}

   .contact-layout .maps iframe{
     width: 100%;
     height: 650px;
   }
}


#author a{
  color: #fff;
  text-decoration: none;

}
