a, .list-group-item {
  text-decoration: none;
  color: #007bff !important;
  text-transform: uppercase;
  font-size: 12px;
}

.list-group-item:hover {
  border: none;
}

.list-group-item > h3{
  text-decoration: none;
  color: white !important;
}

a:hover {
  text-decoration: none;
  color: #fd7e14 !important;

}


