@import url("https://use.fontawesome.com/releases/v5.1.0/css/all.css");



.skills-sec h2{padding-left: 24px;}
.skills-sec h5{width: 95%; margin-bottom: 60px;padding-left: 25px;}
.indvidual-skill {margin-bottom: 40px;}
.skills-set{width: 340px;margin: 0 auto; display: contents;}
.skill_title{font-size: 16px;font-weight: 600;font-family: 'Montserrat', sans-serif;margin-bottom: 10px;color: #464646;}

.barfiller {width: 100%;height: 12px;border: 1px solid #0f5daa;position: relative;}
.fill {background: #0f5daa;position: absolute;left: 0;width: 0;height: 100%;font-weight: 300;}
.skills-set li:nth-child(2) .barfiller{border: 1px solid #02592e;}
.skills-set li:nth-child(2) .fill {background: #02592e;}
.skills-set li:nth-child(3) .barfiller{border: 1px solid #e07702;}
.skills-set li:nth-child(3) .fill {background: #e07702;}
.skills-set li:nth-child(4) .barfiller{border: 1px solid #f5e200;}
.skills-set li:nth-child(4) .fill {background: #f5e200;}
.skills-set li:nth-child(5) .barfiller{border: 1px solid #dd59ad;}
.skills-set li:nth-child(5) .fill {background: #dd59ad;}
.skills-set li:nth-child(6) .barfiller{border: 1px solid #21dfe6;}
.skills-set li:nth-child(6) .fill {background: #21dfe6;}
.skills-set li:nth-child(7) .barfiller{border: 1px solid #d83c78;}
.skills-set li:nth-child(7) .fill {background: #d83c78;}
.skills-set li:nth-child(8) .barfiller{border: 1px solid #87d132;}
.skills-set li:nth-child(8) .fill {background: #87d132;}
.skills-set li:nth-child(9) .barfiller{border: 1px solid #c359dd;}
.skills-set li:nth-child(9) .fill {background: #c359dd;}
.skills-set li:nth-child(10) .barfiller{border: 1px solid #7ca59b;}
.skills-set li:nth-child(10) .fill {background: #7ca59b;}
.skills-set li:nth-child(11) .barfiller{border: 1px solid #783dd6;}
.skills-set li:nth-child(11) .fill {background: #783dd6;}
.skills-set li:nth-child(12) .barfiller{border: 1px solid #23c587;}
.skills-set li:nth-child(12) .fill {background: #23c587;}
.skills-set li:nth-child(13) .barfiller{border: 1px solid #df2fd6;}
.skills-set li:nth-child(13) .fill {background: #df2fd6;}
.skills-set li:nth-child(14) .barfiller{border: 1px solid #4d7fdb;}
.skills-set li:nth-child(14) .fill {background: #4d7fdb;}
.skills-set li:nth-child(15) .barfiller{border: 1px solid #e6b822;}
.skills-set li:nth-child(15) .fill {background: #e6b822;}
.skills-set li:nth-child(16) .barfiller{border: 1px solid #eb4c9c;}
.skills-set li:nth-child(16) .fill {background: #eb4c9c;}
.skills-set li:nth-child(17) .barfiller{border: 1px solid #272981;}
.skills-set li:nth-child(17) .fill {background: #272981;}
.skills-set li:nth-child(18) .barfiller{border: 1px solid #02592e;}
.skills-set li:nth-child(18) .fill {background: #02592e;}
.skills-set li:nth-child(19) .barfiller{border: 1px solid #e07702;}
.skills-set li:nth-child(19) .fill {background: #e07702;}
.skills-set li:nth-child(20) .barfiller{border: 1px solid #f5e200;}
.skills-set li:nth-child(20) .fill {background: #f5e200;}
.skills-set li:nth-child(21) .barfiller{border: 1px solid #dd59ad;}
.skills-set li:nth-child(21) .fill {background: #dd59ad;}
.skills-set li:nth-child(22) .barfiller{border: 1px solid #21dfe6;}
.skills-set li:nth-child(22) .fill {background: #21dfe6;}
.skills-set li:nth-child(23) .barfiller{border: 1px solid #d83c78;}
.skills-set li:nth-child(23) .fill {background: #d83c78;}
.skills-set li:nth-child(24) .barfiller{border: 1px solid #87d132;}
.skills-set li:nth-child(24) .fill {background: #87d132;}
.skills-set li:nth-child(25) .barfiller{border: 1px solid #e07702;}
.skills-set li:nth-child(25) .fill {background: #e07702;}
.skills-set li:nth-child(26) .barfiller{border: 1px solid #f5e200;}
.skills-set li:nth-child(26) .fill {background: #f5e200;}
.skills-set li:nth-child(27) .barfiller{border: 1px solid #dd59ad;}
.skills-set li:nth-child(27) .fill {background: #dd59ad;}
.skills-set li:nth-child(28) .barfiller{border: 1px solid #21dfe6;}
.skills-set li:nth-child(28) .fill {background: #21dfe6;}
.skills-set li:nth-child(29) .barfiller{border: 1px solid #d83c78;}
.skills-set li:nth-child(29) .fill {background: #d83c78;}
.skills-set li:nth-child(30) .barfiller{border: 1px solid #74c43f;}
.skills-set li:nth-child(30) .fill {background: #74c43f;}
.skills-set li:nth-child(31) .barfiller{border: 1px solid #e6b822;}
.skills-set li:nth-child(31) .fill {background: #e6b822;}
.ability {
  font-family: 'Montserrat', 'Helvetica';
}

.skill-item span{    font-size: 30px;}
.skill-item h3{display: inline-block;font-size: 34px;font-weight: 400;padding-left: 5px;margin-bottom: 15px;}
.skill-item h6{    padding-left: 50px;    font-family: 'Old Standard TT', serif;color: #464646;line-height: 20px;    font-size: 18px;line-height: 28px;opacity: 0.9;}
.skill-item{margin-bottom: 80px;}
.skill-item {padding: 0 25px;}
.experinece {background-size: 38% 100% !important;margin-bottom:140px;}
.experinece h5{font-family: 'Old Standard TT', serif;margin-bottom: 50px;}
.experinece  ul {padding: 50px 0 50px 0px;border-left: 1px solid #ccc;}
.experinece  ul li{margin-bottom: 65px;padding-left: 40px;position: relative;}
.experinece  ul li span{ width: 0;
    height: 0;position: absolute;top: -6px;left: -10px;
    border-top: 16px solid transparent;
    border-left: 32px solid #000;display: inherit;
    border-bottom: 16px solid transparent;}
.experinece  ul li:last-child{margin-bottom: 0;}
.experinece  ul li h3{font-size: 24px;font-weight: 600;    margin-bottom: 8px;}
.experinece  ul li h4{font-size: 16px;color: #888888;}

.education{    background-size: 38% 100% !important;padding-bottom: 60px;
    background-position: right center !important;}
.education ul {text-align: right;border-right:1px solid #ccc;border-left: 0;padding-left: 0px;}
.education ul li {padding-left: 0;padding-right: 50px;}
.education ul li span {right: -10px;left: initial;border-right:32px solid #000;border-left: initial;    top: -2px;}

.ability ul li {
  list-style: none;
}

@media (max-width:600px) {
  .skill-section-title {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 8px;
    margin-left: 25%;
  }
  .skill-section-title2 {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 8px;
    margin-left: -4%;
  }
  .skill-section-title3 {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 8px;
    margin-left: 5%;
  }
}
